html, body, #map {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#waypoint{
    width: 60px;
    height: 40px;
    margin-top:5px;
    margin-left: 60px;
    left: 30px ;
    z-index: 20;
    font-size: 20px;
    background-color: burlywood;
    text-align: center;
    box-shadow:black ;
    border-radius: 8px;
}